// @import 'src/app/app.component.scss';

.book-search {
  display: flex;
  justify-content: center;
}

::placeholder {
  color: rgb(139, 125, 125);
}

::ng-deep .mat-form-field-wrapper {
  color: green;
  background-color: rgb(37, 38, 39);
  padding-bottom: 0px;
  .mat-form-field-underline {
    display: none;
  }
  .mat-form-field-label {
    color: aliceblue;
  }
}

.books-container {
  display: grid;
  max-width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
  margin-top: 100px;
}

.pagination {
  background: whitesmoke !important;
  background-color: darkgreen !important;
  color: whitesmoke !important;
  width: 100%;
  text-align: center;
}

:host ::ng-deep .ngx-pagination  a  {
  color: green;
  margin-top: 60px;
}
